
header > img {
    width: auto !important;
}

.site-branding a.brand img.svg-logo-image {
    width: 100px;
    height: 100px;
}

#eckb-article-content-body p  {
    margin: 1em;
}

#eckb-article-content-body h3, #eckb-article-content-body h4 {
    margin: 0.5em;
}

#eckb-article-content-body p img {
    display: inline;
}

.single-content p, .single-content ul {
    margin: 1em auto;
}

.mobile-site-branding .site-title-wrap .site-title.vs-md-false {
    display: block !important;
}

/* 4 column pricing table */
@media screen and (min-width: 600px) and (max-width: 1024px){
    #rpt_pricr.rpt_plans .rpt_price {
        font-size: 50px;
    }
    #rpt_pricr.rpt_plans .rpt_head .rpt_recurrence {
        font-size: 10px;
    }
    #rpt_pricr.rpt_plans .rpt_head .rpt_price span {
        font-size: 0.25em !important;
    }
}

#rpt_pricr.rpt_plans .rpt_plan {
    padding: 1px;
}

.rpt_4_plans .rpt_plan_0 {
    margin-right: 1px;
}
