
header > img {
    width: auto !important;
}

#eckb-article-content-body p  {
    margin: 1em;
}

#eckb-article-content-body h3, #eckb-article-content-body h4 {
    margin: 0.5em;
}

#eckb-article-content-body p img {
    display: inline;
}

.single-content p {
    margin: 1em;
}

.mobile-site-branding .site-title-wrap .site-title.vs-md-false {
    display: block !important;
}

@media screen and (min-width: 600px) and (max-width: 1024px){
    #rpt_pricr.rpt_plans .rpt_price {
        font-size: 50px;
    }
}
