
header > img {
    width: auto !important;
}

#eckb-article-content-body p  {
    margin: 1em;
}

#eckb-article-content-body h3, #eckb-article-content-body h4 {
    margin: 0.5em;
}

#eckb-article-content-body p img {
    display: inline;
}

.single-content p {
    margin: 1em;
}

.mobile-site-branding .site-title-wrap .site-title.vs-md-false {
    display: block !important;
}
