/* image drop shadow in post, pressgram and pressgram widget */
.entry-content img, img.pressgram-image-file, img.wp-post-image,
.tm-content img {
  display: block;
  position: relative;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #a9a9a9;
  margin: -6px 6px 6px -6px;
  padding: 4px;
  margin: 0.5em;
  -webkit-box-shadow: 3px 3px 3px #666;
  -moz-box-shadow: 3px 3px 3px #666;
  box-shadow: 3px 3px 3px #666;
}

/* remove drop shadow from smiley */
img.wp-smiley, img.header-image {
  display: inline;
  position: inherit;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Jetpack gallery widget module */
.widget-wrap .widget-gallery-rectangular.no-carousel { width: 50%;  margin: 0 auto; }

/* Center featured image in Beans */
header .tm-article-image picture img {
  display: block;
  margin: 0 auto;
}

/* Position featured image below title in Beans */
/* http://jsfiddle.net/m37cxb9g/6/ */
/* Flip header elements to reverse order */
article.uk-article header {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}
/* Flip upside down individual header elements right side up */
header .tm-article-image, header h1, header h2 {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}
